.deps
.libs
*.a
*.gz
*.la
*.lo
*.o
aclocal.m4
autom4te.cache
build-scripts/*.m4
build-scripts/config.guess
build-scripts/config.sub
build-scripts/depcomp
build-scripts/install-sh
build-scripts/ltmain.sh
build-scripts/missing
build-scripts/compile
config.cache
config.log
config.status
configure
libtool
Makefile
Makefile.in
stamp-h1

src/madjack
src/madjack-osc-remote
src/config.h
src/config.h.in

gui/moc_LCDTime.cpp
gui/moc_QMadJACK.cpp
gui/moc_QMadJACKMainWindow.cpp
gui/qmadjack.app/
gui/qmadjack.mak
